<!--Main Layout-->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-dark scrolling-navbar" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" routerLink="/product">
            <strong>adidas NMD</strong>
        </a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbRippleRadius>
                <a class="nav-link" routerLink="/product">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" href="https://www.youtube.com/user/sneakernews?sub_confirmation=1" target="_blank">Youtube</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" href="https://www.facebook.com/sneakernews" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" href="https://twitter.com/sneakernews/" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" href="https://instagram.com/sneakernews" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
        </ul>
    </links>
</mdb-navbar>
<!-- Main -->
<main>
    <div class="container">
        <div class="row mt-5 pt-5">
            <div class="col">
                <router-outlet></router-outlet>
                <!-- <app-messages></app-messages> -->
            </div>
        </div>
    </div>
</main>
<!-- /.Main -->