<!--Card-->
<div class="row">
  <div class="col-md-12">
    <blockquote class="blockquote bq-primary">
      <p class="bq-title">adidas NMD</p>
      <p>The adidas NMD is a new sneaker style by adidas Originals. It first debuted on December 12th, 2015 for $170. The shoe
        features sock-like construction with a mix of mesh or Primeknit over Boost cushioning. Currently, it is one of the
        most popular running shoes to date. Read the articles below for further release details and price information. price
        / $120-170</p>
    </blockquote>
  </div>
</div>
<div class="row text-center">
  <div *ngFor="let list of products| slice:0:show; let i=index" class="col-md-4" style="margin-bottom:20px;">
    <div class="card">

      <!--Card image-->
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">{{list.name}}</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button (click)="onSelect(list)" routerLink="/product/{{list.id}}" type="button" class="btn btn-danger waves-light" mdbRippleRadius>Read More</button>
      </div>

    </div>
  </div>
</div>
<div *ngIf="show <= products.length" class="row">
  <button (click)="show = show+6" type="button" class="btn btn-primary btn-rounded waves-light col-md-12" mdbRippleRadius>More</button>
</div>