<!--Card-->
<div *ngIf="product" class="card card-cascade wider reverse my-4">

  <!--Card image-->
  <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">
    <a>
      <div class="mask"></div>
    </a>
  </div>
  <!--/Card image-->

  <!--Card content-->
  <div class="card-body text-center">
    <!--Title-->
    <h4 class="card-title">
      <strong>{{ product.name | uppercase }}</strong>
    </h4>
    <h5 class="indigo-text">
      <strong>{{product.date}}</strong>
    </h5>

    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
    </p>

    <button (click)="goBack()" type="button" class="btn btn-danger waves-light pull-right margin-top" mdbRippleRadius>BACK</button>

  </div>
  <!--/.Card content-->

</div>
<!--/.Card-->